body {
  background-color: #0912ff;
  background-image: url(../img/map.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.container {
  background-color: rgb(84, 84, 201) !important;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/map.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.question-footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  align-items: center;
  padding-top: 5px;
}

.quiz-card {
  width: 30rem;
}

nav {
  position: fixed !important;
  width: 100%;
  display: flex !important;
  justify-content: center !important;
}

.bg-body-tertiary {
  background-color: rgb(173, 108, 28) !important;
}

.quiz-answer-card:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
}

.bg-success,
.bg-danger {
  color: white !important;
}

.width-100 {
  width: 100%;
}

.no-click {
    pointer-events: none;}

.text-center {
  text-align: center;
}

.final-headline {
  font-size: 38px;
  margin-bottom: 32px;
}

.button-row {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.card-img-top{
height: 250px;
width: 250px;
object-fit: contain;
margin-top: 16px;
}

.progress{
  margin: 16px 16px 0px 16px;

}